<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46395070903-r6ugkmcct8nmir6ecr2juhtpehnegk2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46395070903-r6ugkmcct8nmir6ecr2juhtpehnegk2b</string>
	<key>API_KEY</key>
	<string>AIzaSyDP2TPuf6yMW8ftC63Dt59OIPKG_g547tI</string>
	<key>GCM_SENDER_ID</key>
	<string>46395070903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DmitryKryukov.TowTruckEvAlways</string>
	<key>PROJECT_ID</key>
	<string>towtruckevalways</string>
	<key>STORAGE_BUCKET</key>
	<string>towtruckevalways.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46395070903:ios:c1be5c144999d71071f032</string>
</dict>
</plist>